//<BUTTONS (a.btn+tab)>
// Сніппет (HTML): btn

.button {
	display: inline-flex;
	padding: 12px 20px;
	text-transform: uppercase;
	font-weight: 900;
	background-color: #f68038;
	color: $whiteColor;
	transition: background-color 0.3s ease 0s;
	@media (any-hover: hover) {
		&:hover {
			background-color: #ec7125;
		}
	}
	&._fw {
		width: 100%;
	}
}
