@font-face {
	font-family: UniSans;
	font-display: swap;
	src: url("../fonts/UniSansHeavyCAPS.woff2") format("woff2"), url("../fonts/UniSansHeavyCAPS.woff") format("woff");
	font-weight: 400;
	font-style: normal;
}
